*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.header_global, .footer_global{
    background-color: cornflowerblue;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 50px;
}

.header_main{
    height: 200px;
    padding-top: 30px;
}

main{
    background-color: white;
    width: 100%;
}

article{
    float: left;
    height: auto;
    width: 22%;
    margin: 2em 1em;
}

.imagen{
background-color: teal;
height: 200px;
background-image: url("https://images.unsplash.com/photo-1528571418557-664a69926796?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHVuaXZlcnN1bXxlbnwwfHwwfHx8MA%3D%3D");
background-size: cover;
background-repeat: no-repeat;
}